span {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 20px;
    background-color: brown;
    color: #fff;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

div {
    position: absolute;
    top: 85%;
    left: 15%;
    /* transform: translate(0%, 0%); */
    height: 0;
    width: 0;
    transition: 1s;
}

span:hover~div:nth-of-type(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 50vh;
    background-color: burlywood;
}

div:nth-of-type(2) {
    z-index: -1;
    transition: 1s 0.3s;
}

span:hover~div:nth-of-type(2) {
    top: calc(50% - 15%);
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    height: 35.5vh;
    width: 35.5vh;
    background-color: black;
}

div:nth-of-type(3) {
    z-index: -2;
    transition: 1s 0.6s;
}

span:hover~div:nth-of-type(3) {
    top: 17%;
    left: 57%;
    height: 15vh;
    width: 5vh;
    background-color: gray;
}

div:nth-of-type(4) {
    z-index: 1;
    transition: 1s 0.9s;
}

span:hover~div:nth-of-type(4) {
    top: 50%;
    left: calc(50% - 5vh);
    height: 15vh;
    width: 10vh;
    background-color: gray
}

div:nth-of-type(5),
div:nth-of-type(6) {
    z-index: 1;
    transition: 1s 1.2s;
}

span:hover~div:nth-of-type(5) {
    top: 44%;
    left: 43%;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 10vh;
    background-color: yellow;
}

span:hover~div:nth-of-type(6) {
    top: 44%;
    left: calc(100% - 43%);
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 10vh;
    background-color: yellow;
}